{% for itemcl in checklists %}

<tr class="{% if itemcl.label is defined %} {{ itemcl.label.classbg }} {% endif %} delete-{{ itemcl.id }} line" id="{{ itemcl.id }}" data-toggle="modal">

<td><i class="icon-{{ itemcl.icon }}"></td>
<td>{{ itemcl.name }}
{% if itemcl.label is defined %}
<span class="label label-{{ itemcl.label.class }}">
{{ itemcl.label.status }}
</span>
{% endif %}
</td>
<td>{{ itemcl.departement }}</td>
<td>{{ itemcl.tache }}</td>
<td>{{ itemcl.timeLastUpdate }}</td>
<td data-action="edit" id="edit-{{ itemcl.id }}"><i class="icon-list"></i></td>
<td data-action="delete" id="delete-{{itemcl.id }}"><button data-toggle="modal" class="delete-row-bt close">&times;</button></td>
</tr>
{% endfor %}

